<div class="container top-header">
    <div ng-controller="moviesCtrl">
        <h1 class="text-center">Movies</h1>
        <hr>
        <div>
            <label class="px-2" for="search3">Search Name:</label>
            <input class="px-2" type="text" id="search3" ng-model="search3">
        </div>

        <div>
            <label class="px-2" for="order3">Order By:</label>
            <select class="px-2" ng-model="orderProp3" id="order3">
                <option value="name">Name</option>
                <option value="Director">Director</option>
            </select>
        </div>
        <movies-drct></movies-drct>
    </div>
</div>