<ul class="list-group">
    <li class="list-group-item list-group-item-warning" ng-repeat="movie in movies  | filter: searchData3 | orderBy: orderProp3" >
        <p><b>Name: </b>{{movie.name}}</p>
        <p><b>Length: </b>{{lengthStr(movie.length)}}</p>
        <p><b>Length: </b>{{movie.length}}</p>
        <p><b>Stars: </b>{{movie.stars.join(", ")}}</p>
        <p><b>director: </b>{{movie.director}}</p>
        <a href="{{movie.imdbLink}}" alt="link" target="_blank"><b>IMDB Link</b></a>
    </li>
</ul>

<!-- <div class="col-md-4" ng-repeat="actor in actors
    | filter: searchData | orderBy: orderProp" ng-click="toggleActorSelected(actor)"> -->
